<?xml version="1.0" encoding="UTF-8"?>

<settings>

    <servers>

		<server>
			<id>xeo-release</id>
			<username>${ARTIFACTORY_USERNAME}</username>
			<password>${ARTIFACTORY_PASSWORD}</password>
		</server>

		<server>
			<id>xeo-snapshot</id>
			<username>${ARTIFACTORY_USERNAME}</username>
			<password>${ARTIFACTORY_PASSWORD}</password>
		</server>

    </servers>

</settings>