/*
 * This style sheet is intentionally coded to refer to the modena.css properties
 */

/* Workpane */

.workpane {
	/* Don't set the opacity to zero, otherwise the entire workpane is not visible */
	-fx-background-color: transparent;
}

.workpane-view {
	/* Don't set the opacity to zero, otherwise the entire workpane-view is not visible */
	-fx-background-color: transparent;
}

.workpane-edge {
	/* Don't set the opacity to zero, otherwise the entire workpane-edge is not visible */
	-fx-opacity: 0.5;
	-fx-focus-traversable: false;
	-fx-background-color: -fx-box-border;
}

.workpane-edge:horizontal {
	-fx-cursor: v-resize;
}

.workpane-edge:vertical {
	-fx-cursor: h-resize;
}
