.root {
	-ex-background-text: rgba(236, 236, 236, 0.2);
	-ex-background-tabs: rgba(236, 236, 236, 0.4);
	-ex-background-tags: rgba(236, 236, 236, 0.6);
	-ex-background-note: rgba(236, 236, 236, 0.8);

	-ex-work-pane-drop-hint: rgba(32, 32, 32, 0.2);
}

.debug {
	-fx-backgroud-color: #80800080;
}

.prompt {
	-fx-padding: 0 1mm 0 0;
}

.padded {
	-fx-padding: 1.5mm;
}

/*******************************************************************************
 * Icons
 ******************************************************************************/
.xe-icon {
	-xe-theme-color: #c0c0c0;
	-xe-outline-paint: #404040;
	-xe-outline-width: 0.03125; /* 1/32 */
}

/*******************************************************************************
 * Splash Screen
 ******************************************************************************/
.splashscreen-tint {
	-fx-fill: #202020;
	-fx-opacity: 0.75;
}

.splashscreen-title {
	-fx-fill: #c0c0c0;
}

.splashscreen-accent {
	-fx-fill: -fx-accent;
	-fx-opacity: 0.4;
}

.splashscreen-progress {
	-fx-arc-height: 10;
	-fx-arc-width: 5;
}

.splashscreen-progress-tray {
	-fx-fill: gray;
	-fx-opacity: 0.2;
}

.splashscreen-progress-incomplete {
	-fx-fill: -fx-accent;
	-fx-opacity: 0.4;
}

.splashscreen-progress-complete {
	-fx-fill: -fx-accent;
	-fx-opacity: 0.8;
}

/*******************************************************************************
 * Development Menu
 ******************************************************************************/
/* Not sure why the class selector does not work but the id selector does */
#menu-development {
	-fx-background-color: #ffff0030;
}

#menu-development > .label {
	-fx-text-fill: -fx-text-background-color;
}

#menu-development:hover {
	-fx-background-color: #ffff0040;
}

/*#menu-development:hover > .label {*/
/*	-fx-text-fill: -fx-text-background-color;*/
/*}*/

/*******************************************************************************
 * Workspace
 ******************************************************************************/
.workspace {
	/* Will override the user preference background */
	/*-fx-background-color: #80a0c0ff;*/
}

/*******************************************************************************
 * Workarea
 ******************************************************************************/
.workarea-menu-bar {
	-fx-background-color: transparent;
	-fx-padding: 0;
	-fx-border: none;
}

/*******************************************************************************
 * Workpane Scroll Pane
 ******************************************************************************/
.workpane .scroll-pane {
	-fx-background-color: transparent;
}

.workpane .scroll-pane .viewport {
	-fx-background-color: transparent;
}

.workpane .scroll-pane .content {
	-fx-background-color: transparent;
}

/*******************************************************************************
 * Workpane
 ******************************************************************************/
.workpane {
	-fx-background-color: transparent;
}

.workpane-view {
	-fx-background-color: transparent;
}

.workpane-edge {
	-fx-focus-traversable: false;
	-fx-background-color: -ex-background-tabs
}

.workpane-edge:horizontal {
	-fx-cursor: v-resize;
}

.workpane-edge:vertical {
	-fx-cursor: h-resize;
}

.workpane .tab-pane .tab-header-background {
	-fx-background-color: -ex-background-tabs
}

/*******************************************************************************
 * Tool
 ******************************************************************************/
.tool {
	-fx-background-color: -ex-background-text
}

.tool .tree-view {
	/*-fx-background-color: -ex-background-text;*/
	-fx-background-color: transparent;
}

.tool .tree-cell {
	-fx-indent: 1em;
	-fx-background-color: transparent;
}

.tool .tree-view:focused .tree-cell:filled:selected {
	-fx-background: -fx-selection-bar;
	-fx-table-cell-border-color: derive(-fx-selection-bar, 20%);
}

.tool .tree-cell:filled:selected {
	-fx-background-color: -fx-background, -fx-cell-focus-inner-border, -fx-background;
}

.tool .tree-view:focused .tree-cell:focused {
	-fx-background-color: -fx-background, -fx-cell-focus-inner-border, -fx-background;
}

/*
.tool .text-area {
	-fx-background-color: -ex-background-text;
	-fx-background-radius: 0 0 0 0;
}

.tool .text-field {
	-fx-background-color: -ex-background-text;
	-fx-background-radius: 0 0 0 0;
}
*/

.accent {
	-fx-fill: -fx-background;
	-fx-opacity: 0.3;
}

/*******************************************************************************
 * Status Bar
 ******************************************************************************/
.status-bar {
	-fx-padding: 1mm 1mm 1mm 1mm;
}

.status-bar > .box {
	-fx-spacing: 1mm;
}

/*******************************************************************************
 * Notice
 ******************************************************************************/
.notice {
	-fx-background-color: -ex-background-text;
	-fx-background-insets: 1.5mm;
	-fx-padding: 3mm;
}

.notice-flyout {
	-fx-background-color: -ex-background-note;
	-fx-pref-width: 6cm;
	-fx-background-radius: 1.5mm 0 0 1.5mm;
	-fx-background-insets: 1.5mm 0 1.5mm 1.5mm;
	-fx-padding: 3mm;
}

.notice-title {
	-fx-font-weight: bold;
}

.notice-message {
	-fx-font-weight: normal;
}

/*******************************************************************************
 * Memory Monitor
 ******************************************************************************/
.memory-monitor {
	-fx-background-color: derive( -fx-color, 15% );
	-fx-text-fill: -fx-text-base-color;
}

.memory-monitor-label {
	-fx-padding: 0.5mm 1mm 0.5mm 1mm;
}

.memory-monitor-allocated {
	-fx-fill: derive( -fx-color, 30%);
}

.memory-monitor-used {
	-fx-fill: derive( -fx-accent, 50%);
}

/*******************************************************************************
 * Task Monitor
 ******************************************************************************/
.task-monitor {
	-fx-background-color: derive( -fx-color, 15% );
	-fx-text-fill: -fx-text-base-color;
}

.task-monitor-label {
	-fx-padding: 0.5mm 1mm 0.5mm 1mm;
}

.task-monitor-threads {
	-fx-fill: derive( -fx-color, 30%);
}

.task-monitor-tasks {
	-fx-fill: derive( -fx-accent, 10%);
}

.task-monitor-progress {
	-fx-fill: derive( -fx-accent, 50%);
}

/*******************************************************************************
 * About Tool
 ******************************************************************************/
#tool-about .text-area {
	-fx-background-color: transparent;
}

#tool-about .label {
	-fx-padding: -0.25em;
}

#tool-about .tool-about-title {
	-fx-font-size: 5em;
}

#tool-about .tool-about-header {
	-fx-font-size: 2em;
}

#tool-about .tool-about-name {
	-fx-font-size: 1em;
}

#tool-about .tool-about-provider {
	-fx-font-size: 1em;
}

#tool-about .tool-about-version {
	-fx-font-size: 1em;
}

#tool-about-details {
	-fx-font: 1em monospaced;
}

#tool-about-mods {
	-fx-font: 1em monospaced;
}

/*******************************************************************************
 * New Asset Tool
 ******************************************************************************/
#tool-asset .asset-type-tile {
	-fx-min-width: 250px;
	-fx-min-height: 200px;
	-fx-max-width: 250px;
	-fx-max-height: 200px;
	-fx-background-color: -ex-background-text;
	-fx-background-insets: 10px;

	-fx-border-color: -ex-background-tabs;
	-fx-border-style: solid;
	-fx-border-insets: 5px;
	-fx-border-width: 5px;
}

/*******************************************************************************
 * Fault Tool
 ******************************************************************************/
#tool-fault .text-area {
	-fx-background-color: transparent;
}

#tool-fault-text {
	-fx-font: 1em monospaced;
}

/*******************************************************************************
 * Product Tool
 ******************************************************************************/
#tool-product-page-header {
	-fx-background-insets: 0 0 1mm 0;
	-fx-background-color: -ex-background-text;
	-fx-padding: 1mm 1mm 2mm 1mm;
}

#tool-product-page-title {
	-fx-font-size: 2em;
}

#tool-product-page-header-buttons {
	-fx-spacing: 1mm;
}

#tool-product-artifact {
	-fx-background-color: -ex-background-text;
	-fx-padding: 1mm;
}

#tool-product-artifact-name {
	-fx-font-weight: bold;
}

#tool-product-market {
	-fx-background-color: -ex-background-text;
	-fx-padding: 1mm;
}

#tool-product-market-name {
	-fx-font-weight: bold;
}

#tool-product-page-footer {
	-fx-background-insets: 1mm 0 0 0;
	-fx-background-color: -ex-background-text;
	-fx-padding: 2mm 1mm 1mm 1mm;
}

.tool-product-message {
	-fx-background-color: -ex-background-text;
	-fx-padding: 5mm;
	-fx-alignment: center;
	-fx-font-size: 2em;
}

/*******************************************************************************
 * Welcome Tool
 ******************************************************************************/
#tool-welcome {
	-fx-background-color: transparent;
}

#tool-welcome .tool-welcome-title {
	-fx-font-size: 5em;
}

/*******************************************************************************
 * Titled Pane
 ******************************************************************************/
.titled-pane > *.content {
	-fx-background-color: red;
}

/*******************************************************************************
 * Tool Pane
 ******************************************************************************/
.tool-pane {
	-fx-background-color: transparent;
}

.tool-pane-header-area {
	-fx-background-color: -ex-background-tabs;
	-fx-spacing: 0.5mm;
}

.tool-pane-header-area .box {
	-fx-spacing: 0;
}

.tool-pane-content-area {
	-fx-background-color: transparent;
}

/*******************************************************************************
 * Tool Tab
 ******************************************************************************/
.tool-pane .tool-tab {
	-fx-padding: 0.5mm 0.5mm 0.5mm 0.5mm;
	-fx-background-color: -ex-background-text;
}

.tool-pane .tool-tab .tool-tab-label {
	-fx-text-fill: -fx-text-base-color;
}

.tool-pane .tool-tab:hover {
	-fx-background-color: -ex-background-tags;
}

.tool-pane .tool-tab-close {
	-fx-background-color: transparent;
	-fx-padding: 0 0 0 1mm;
}

.tool-pane:active .tool-tab:selected {
	-fx-padding: 0.5mm 0.5mm 0 0.5mm;
	-fx-border-width: 0 0 0.5mm 0;
	-fx-border-color: derive(-fx-focus-color, 20%);
	-fx-background-color: -ex-background-note;
}

.tool-pane:active .tool-tab:selected:hover {
	-fx-border-color: derive(-fx-focus-color, 40%);
	-fx-background-color: -ex-background-note;
}

/*******************************************************************************
 * Work Pane
 ******************************************************************************/
.work-pane-drop-hint {
	-fx-fill: -ex-work-pane-drop-hint;
}
