/*
Derived from modena.css
 */
.root {
	-ex-background-tool: rgba(128, 128, 128, 0.1);
	-ex-background-text: rgba(236, 236, 236, 0.2);
	-ex-background-tabs: rgba(236, 236, 236, 0.4);
	-ex-background-tags: rgba(236, 236, 236, 0.6);
	-ex-background-note: rgba(236, 236, 236, 0.8);

	-ex-background-subdue: rgba(20, 20, 20, 0.6);

	-ex-workspace-tint-color: #c0c0c040;
	-ex-workspace-drop-hint: rgba(32, 32, 32, 0.2);

	-ex-background-error: CHART_COLOR_7_TRANS_20;

	-status-monitor-background: ladder(-fx-color, derive(-fx-color, 10%) 50%, derive(-fx-color, -10%) 50%);
	-status-monitor-primary: ladder(-fx-color, derive(-status-monitor-background, 20%) 50%, derive(-fx-color, -20%) 50%);
	-status-monitor-secondary: ladder(#505050, -status-monitor-primary 0%, -fx-accent 100%);
}

.debug {
	-fx-background-color: #80800080;
}

.prompt {
	-fx-padding: 0 0.3em 0 0;
}

.padded {
	-fx-padding: 0.3em;
}

/*******************************************************************************
 * Modena fixes
 ******************************************************************************/
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
	-fx-background-color: -fx-mark-highlight-color, ladder(
		-fx-base,
		derive(-fx-base, 45%) 50%,
		derive(-fx-base, -45%) 50%
	);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
	-fx-background-color: -fx-mark-highlight-color, ladder(
		-fx-base,
		derive(-fx-base, 50%) 50%,
		derive(-fx-base, -50%) 50%
	);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
	-fx-background-color: -fx-mark-highlight-color, ladder(
		-fx-base,
		derive(-fx-base, 55%) 50%,
		derive(-fx-base, -55%) 50%
	);
}

.text-input {
	-fx-prompt-text-fill: ladder(
		-fx-base,
		derive(-fx-control-inner-background, 50%) 50%,
		derive(-fx-control-inner-background, -30%) 50%
	);
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
	-fx-prompt-text-fill: transparent;
}

.tree-cell > .tree-disclosure-node > .arrow,
.tree-table-row-cell > .tree-disclosure-node > .arrow {
	-fx-padding: 0.3em 0.3em 0.3em 0.05em;
	-fx-shape: "M -0.5 2.5 L 2 0 L -0.5 -2.5 L 0 -3 L 3 0 L 0 3 Z"
}

/*******************************************************************************
 * Icons
 ******************************************************************************/
.xe-icon {
	-fx-stroke: -fx-text-base-color;
	-fx-primary: -fx-accent;
}

.action-bar .button:hover > .xe-icon,
/* Do not put in .button:focus - 2023-11-09 */
.action-bar .menu-item:hover > * > .xe-icon,
.action-bar .menu-item:focused > * > .xe-icon,
.action-bar #menu-button-menu:hover > * > .xe-icon,
.action-bar #menu-button-workarea:hover > * > .xe-icon
{
	-fx-stroke: -fx-focused-text-base-color;
}

/*******************************************************************************
 * Splash Screen
 ******************************************************************************/
.splashscreen {
	/*-fx-background-color: linear-gradient(to bottom, rgb(48, 48, 48), rgb(53, 146, 196));*/
	/*-fx-background-color:  linear-gradient( to bottom, #202038, #9c809c );*/
	-fx-background-color: rgb(96, 96, 96);
}

.splashscreen .tint {
	-fx-fill: rgb(32, 32, 32);
	-fx-opacity: 0.7;
}

.splashscreen .title {
	-fx-fill: #c0c0c0;
}

.splashscreen .accent {
	-fx-fill: -fx-accent;
	-fx-opacity: 0.4;
}

.splashscreen .progress {
	-fx-arc-height: 10;
	-fx-arc-width: 5;
}

.splashscreen .progress-tray {
	-fx-fill: gray;
	-fx-opacity: 0.2;
}

.splashscreen .progress-incomplete {
	-fx-fill: -fx-accent;
	-fx-opacity: 0.4;
}

.splashscreen .progress-complete {
	-fx-fill: -fx-accent;
	-fx-opacity: 0.8;
}

/*******************************************************************************
 * Development Menu
 ******************************************************************************/
/* Not sure why the class selector does not work but the id selector does */
#menu-development {
	-fx-background-color: #ffff0030;
}

#menu-development > .label {
	-fx-text-fill: -fx-text-background-color;
}

#menu-development:hover {
	-fx-background-color: #ffff0040;
}

/*#menu-development:hover > .label {*/
/*	-fx-text-fill: -fx-text-background-color;*/
/*}*/

/*******************************************************************************
 * Workspace
 ******************************************************************************/
.workspace {
	/* Will override the user preference background */
	/*-fx-background-color: #80a0c0ff;*/
}

.workspace-tint {
	-fx-background-color: -ex-workspace-tint-color;
}

.workspace-search {
	-fx-pref-width: 15em;
}

/* Workspace Rails */
.workspace-rail-nw {
	-fx-background-color: -ex-background-tabs;
	-fx-min-width: 2em;
	-fx-min-height: 2px;
	-fx-cursor: nw-resize;
}

.workspace-rail-n {
	-fx-background-color: -ex-background-tabs;
	-fx-min-height: 2px;
	-fx-cursor: n-resize;
}

.workspace-rail-ne {
	-fx-background-color: -ex-background-tabs;
	-fx-min-width: 2em;
	-fx-min-height: 2px;
	-fx-cursor: ne-resize;
}

.workspace-rail-en {
	-fx-background-color: -ex-background-tabs;
	-fx-min-width: 2px;
	-fx-min-height: 2em;
	-fx-cursor: ne-resize;
}

.workspace-rail-e {
	-fx-background-color: -ex-background-tabs;
	-fx-min-width: 2px;
	-fx-cursor: e-resize;
}

.workspace-rail-es {
	-fx-background-color: -ex-background-tabs;
	-fx-min-width: 2px;
	-fx-min-height: 2em;
	-fx-cursor: se-resize;
}

.workspace-rail-se {
	-fx-background-color: -ex-background-tabs;
	-fx-min-width: 2em;
	-fx-min-height: 2px;
	-fx-cursor: se-resize;
}

.workspace-rail-s {
	-fx-background-color: -ex-background-tabs;
	-fx-min-height: 2px;
	-fx-cursor: s-resize;
}

.workspace-rail-sw {
	-fx-background-color: -ex-background-tabs;
	-fx-min-width: 2em;
	-fx-min-height: 2px;
	-fx-cursor: sw-resize;
}

.workspace-rail-wn {
	-fx-background-color: -ex-background-tabs;
	-fx-min-width: 2px;
	-fx-min-height: 2em;
	-fx-cursor: nw-resize;
}

.workspace-rail-w {
	-fx-background-color: -ex-background-tabs;
	-fx-min-width: 2px;
	-fx-cursor: w-resize;
}

.workspace-rail-ws {
	-fx-background-color: -ex-background-tabs;
	-fx-min-width: 2px;
	-fx-min-height: 2em;
	-fx-cursor: sw-resize;
}

/*******************************************************************************
 * Workarea
 ******************************************************************************/
.workarea-menu-bar {
	-fx-background-color: transparent;
	-fx-padding: 0;
	-fx-border: none;
}

.workarea-menu-item {
	/*-fx-background-color: blue;*/
}

/*******************************************************************************
 * Workspace Action Bar
 ******************************************************************************/
.action-bar {
	-fx-background-color: -ex-background-tool;
	-fx-padding: 0;
}

/* For all tool bars in the action bar */
.action-bar .tool-bar {
	-fx-background-color: transparent;
	/*
	 * WORKAROUND This fixes a problem with the workspace close button on Windows.
	 * https://github.com/avereon/xenon/issues/254
	 * Using the value 0.49 in the padding seems to fix the problem.
	 */
	-fx-padding: 0.5em 0.75em;
}

.action-bar .stage-mover {
	-fx-background-color: transparent;
	-fx-pref-height: 1em;
	/*-fx-cursor: move;*/
}

.action-bar .workspace-actions {
}

.action-bar .button {
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-padding: 0.3em 0.3em 0.3em 0.3em;
}

.action-bar .button:hover {
	-fx-background-color: -fx-selection-bar;
}

#menu-bar-program {
	-fx-background-color: transparent;
	-fx-padding: 0;
}

/* Program menu button */
#menu-button-menu {
	/* Remove the normal button background */
	-fx-background-color: transparent;
}

#menu-button-menu > .label {
	/* Change the normal menu button padding */
	-fx-padding: 0.3em 0.3em 0.3em 0.3em;
}

#menu-button-menu > .arrow-button {
	/* Hide the normal menu button arrow button area */
	-fx-padding: 0;
}

#menu-button-menu > .arrow-button > .arrow {
	/* Hide the normal menu button arrow */
	-fx-shape: null;
	-fx-padding: 0;
}

#menu-button-menu:hover {
	-fx-background-color: -fx-selection-bar; /* works */
}

#menu-button-menu:hover > .label {
	-fx-text-fill: -fx-focused-text-base-color; /* works */
}

/* Workarea menu button */
#menu-button-workarea {
	-fx-background-color: transparent;
}

#menu-button-workarea:hover {
	-fx-background-color: -fx-selection-bar;
}

#menu-button-workarea:hover > .label {
	-fx-text-fill: -fx-focused-text-base-color;
}

#menu-button-workarea:hover > .arrow-button > .arrow {
	-fx-background-color: -fx-focused-text-base-color;
}

/*******************************************************************************
 * Workpane List View
 ******************************************************************************/
.workpane .list-view {
	-fx-background-color: transparent;
}

/*******************************************************************************
 * Workpane Scroll Pane
 ******************************************************************************/
.workpane .scroll-pane {
	-fx-background-color: transparent;
}

.workpane .scroll-pane .viewport {
	-fx-background-color: transparent;
}

/*******************************************************************************
 * Workpane Table View
 ******************************************************************************/
.workpane .table-view {
	-fx-background-color: transparent;
}

.workpane .table-row-cell {
	/*-fx-background: -ex-background-tabs;*/
	-fx-background-color: transparent;
	-fx-padding: 0;
	-fx-text-fill: -fx-text-background-color;
}

.workpane .table-row-cell:odd {
	-fx-background-color: -ex-background-tool;
}

.workpane .table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected {
	-fx-background: -fx-selection-bar;
	-fx-table-cell-border-color: derive(-fx-selection-bar, 20%);
}

.workpane .table-row-cell:filled:selected {
	-fx-background: -fx-selection-bar-non-focused;
	-fx-table-cell-border-color: derive(-fx-selection-bar-non-focused, 20%);
}

/*******************************************************************************
 * Workpane
 ******************************************************************************/
.workpane {
	-fx-background-color: transparent;
}

.workpane-view {
	-fx-background-color: transparent;
}

.workpane-edge {
	-fx-focus-traversable: false;
	-fx-background-color: -ex-background-tabs
}

.workpane-edge:horizontal {
	-fx-cursor: v-resize;
}

.workpane-edge:vertical {
	-fx-cursor: h-resize;
}

.workpane .content {
	-fx-background-color: transparent;
}

.workpane .tab-pane .tab-header-background {
	-fx-background-color: -ex-background-tabs
}

/*******************************************************************************
 * Tool
 ******************************************************************************/
.tool {
	-fx-background-color: -ex-background-tool
}

.tool .tree-view {
	/*-fx-background-color: -ex-background-text;*/
	-fx-background-color: transparent;
}

.tool .tree-cell {
	-fx-indent: 1em;
	-fx-background-color: transparent;
}

.tool .tree-cell:filled:selected {
	-fx-background-color: -fx-background, -fx-cell-focus-inner-border, -fx-background;
}

.tool .tree-view:focused .tree-cell:filled:selected {
	-fx-background: -fx-selection-bar;
	-fx-table-cell-border-color: derive(-fx-selection-bar, 20%);
}

.tool .tree-view:focused .tree-cell:focused {
	-fx-background-color: -fx-background, -fx-cell-focus-inner-border, -fx-background;
}

/*
.tool .text-area {
	-fx-background-color: -ex-background-text;
	-fx-background-radius: 0 0 0 0;
}

.tool .text-field {
	-fx-background-color: -ex-background-text;
	-fx-background-radius: 0 0 0 0;
}
*/

.accent {
	-fx-fill: -fx-background;
	-fx-opacity: 0.3;
}

/*******************************************************************************
 * Status Bar
 ******************************************************************************/
.status-bar {
	-fx-background-color: -ex-background-tool;
	-fx-padding: 0.3em;
	-fx-font-weight: normal;
}

.status-bar > .box {
	-fx-spacing: 0.3em;
}

.status-bar .label {
	-fx-padding: 0.2em 0.3em 0.2em 0.3em;
}

.status-bar .text-field {
	-fx-padding: 0.2em 0.3em 0.2em 0.3em;
}

/*******************************************************************************
 * Flyout
 ******************************************************************************/
.flyout {
	-fx-pref-width: 20em;
	/*-fx-background-color: -ex-background-subdue;*/
	-fx-background-color: transparent;
	/*-fx-background-radius: 0.3em 0 0 0.3em;*/
	/*-fx-background-insets: 0.3em 0 0.3em 0.3em;*/
	/*-fx-padding: 0.3em;*/
}

/*******************************************************************************
 * Search Hit
 ******************************************************************************/
.hit {
	-fx-background-color: -ex-background-note;
	-fx-background-insets: 0.3em;
	-fx-padding: 1em;
}

.hit-flyout {
	-fx-background-color: -ex-background-note;
	-fx-background-radius: 0.3em 0 0 0.3em;
	-fx-background-insets: 0.3em 0 0.3em 0.3em;
	-fx-padding: 1em;
}

.hit-title {
	-fx-font-weight: bold;
}

.hit-message {
	-fx-font-weight: normal;
}

/*******************************************************************************
 * Notice
 ******************************************************************************/
.notice {
	-fx-background-color: -ex-background-note;
	-fx-background-insets: 0.3em;
	-fx-padding: 1em;
}

.notice-flyout {
	-fx-background-color: -ex-background-note;
	-fx-background-radius: 0.3em 0 0 0.3em;
	-fx-background-insets: 0.3em 0 0.3em 0.3em;
	-fx-padding: 1em;
}

.notice-title {
	-fx-font-weight: bold;
}

.notice-message {
	-fx-font-weight: normal;
}

/*******************************************************************************
 * Paint Picker
 ******************************************************************************/
.paint-swatch {
	-fx-stroke: -fx-box-border;
	-fx-min-width: 1em;
	-fx-min-height: 1em;
	-fx-pref-width: 1em;
	-fx-pref-height: 1em;
	-fx-max-width: 1em;
	-fx-max-height: 1em;
	-fx-border-color: -fx-box-border;
	-fx-border-width: 1px;
}

.paint-picker {
	-fx-alignment: BASELINE_LEFT;
}

.paint-picker-pane {
	-fx-spacing: 0.3em;
}

.paint-picker-pane .paint-swatch {
	-fx-min-width: 1.5em;
	-fx-min-height: 1.5em;
	-fx-pref-width: 1.5em;
	-fx-pref-height: 1.5em;
	-fx-max-width: 1.5em;
	-fx-max-height: 1.5em;
	-fx-border-width: 0;
}

.paint-picker-pane .paint-swatch:hover {
	/* Make the hover swatch just a bit bigger */
	-fx-scale-x: 1.2;
	-fx-scale-y: 1.2;

	/* The border insets should be the same as the border width, but negative */
	-fx-border-insets: -0.15em;
	-fx-border-width: 0.15em;
	-fx-border-radius: 0.1em;
	-fx-border-color: -fx-focus-color;

	/* Change the view order so the swatch hovers over the other swatches */
	-fx-view-order: -1;
}

.paint-palette-box {
	-fx-alignment: BASELINE_CENTER;
	-fx-padding: 0.5em;
	-fx-hgap: 0.1em;
	-fx-vgap: 0.1em;
}

/*******************************************************************************
 * Memory Monitor
 ******************************************************************************/
.memory-monitor {
	-fx-background-color: -status-monitor-background;
}

.memory-monitor-allocated {
	-fx-fill: -status-monitor-primary;
}

.memory-monitor-used {
	-fx-fill: -fx-accent;
	/*-fx-fill: ladder(*/
	/*	-fx-color,*/
	/*	derive(-fx-color, 50%) 50%,*/
	/*	derive(-fx-color, -30%) 50%*/
	/*);*/
}

.memory-monitor-label {
	-fx-padding: 0.2em 0.3em 0.2em 0.3em;
}

/*******************************************************************************
 * Settings
 ******************************************************************************/
.settings-panel {
	-fx-border-color: transparent;
	-fx-border-style: solid;
	-fx-border-width: 0.3em;
	-fx-spacing: 0.3em;
}

.settings-title {
	-fx-font-size: 2em;
}

.settings-infoarea {
	-fx-wrap-text: true
}

.settings-infoline {
	-fx-wrap-text: false
}

/*******************************************************************************
 * Toolbar Tray
 ******************************************************************************/
.toolbar-tray-popup {
}

.toolbar-tray {
}

/*******************************************************************************
 * Task Monitor
 ******************************************************************************/
.task-monitor {
	-fx-background-color: -status-monitor-background;
}

.task-monitor-threads {
	-fx-fill: -status-monitor-primary;
}

.task-monitor-tasks {
	-fx-fill: -status-monitor-secondary;
}

.task-monitor-progress {
	-fx-fill: -fx-accent;
}

.task-monitor-label {
	-fx-padding: 0.2em 0.3em 0.2em 0.3em;
}

/*******************************************************************************
 * FPS Monitor
 ******************************************************************************/
.fps-monitor {
	-fx-background-color: -status-monitor-background;
}

.fps-monitor-label {
	-fx-padding: 0.2em 0.3em 0.2em 0.3em;
}

/*******************************************************************************
 * About Tool
 ******************************************************************************/
#tool-about .text-area {
	-fx-background-color: transparent;
}

#tool-about .tool-about-title {
	-fx-font-size: 5em;
}

#tool-about .tool-about-header {
	-fx-font-size: 2em;
}

#tool-about .tool-about-name {
	-fx-font-size: 1em;
}

#tool-about .tool-about-provider {
	-fx-font-size: 1em;
}

#tool-about .tool-about-version {
	-fx-font-size: 1em;
}

#tool-about-details {
	-fx-font: 1em monospaced;
}

#tool-about-mods {
	-fx-font: 1em monospaced;
}

/*******************************************************************************
 * New Asset Tool
 ******************************************************************************/
#tool-asset-new .asset-type-tile {
	-fx-min-width: 250px;
	-fx-min-height: 200px;
	-fx-max-width: 250px;
	-fx-max-height: 200px;
	-fx-background-color: -ex-background-text;
	-fx-background-insets: 10px;

	-fx-border-color: -ex-background-tabs;
	-fx-border-style: solid;
	-fx-border-insets: 5px;
	-fx-border-width: 5px;
}

#tool-asset #user-notice {
	-fx-background-color: -ex-background-error;
}

/*******************************************************************************
 * Fault Tool
 ******************************************************************************/
#tool-fault .text-area {
	-fx-background-color: transparent;
}

#tool-fault-text {
	-fx-font: 1em monospaced;
}

/*******************************************************************************
 * Fault Tool
 ******************************************************************************/
#tool-guide {
}

/*******************************************************************************
 * Index Search Tool
 ******************************************************************************/
/*#tool-search {*/
/*    -fx-spacing: 1em;*/
/*    -fx-padding: 1em;*/
/*}*/

#tool-search VBox {
	-fx-spacing: 0.3em;
	-fx-padding: 0.3em 0 0 0;
}

#tool-search .list-view {
	-fx-background-color: transparent;
}

#tool-search .list-cell {
	-fx-indent: 1em;
	-fx-background-color: transparent;
}

#tool-search .list-cell:filled:selected {
	-fx-background-color: -fx-background, -fx-cell-focus-inner-border, -fx-background;
}

#tool-search .list-view:focused .list-cell:filled:selected {
	-fx-background: -fx-selection-bar;
	-fx-table-cell-border-color: derive(-fx-selection-bar, 20%);
}

#tool-search .list-view:focused .list-cell:focused {
	-fx-background-color: -fx-background, -fx-cell-focus-inner-border, -fx-background;
}

/*******************************************************************************
 * Product Tool
 ******************************************************************************/
#tool-product-page-header {
	-fx-background-insets: 0 0 0.3em 0;
	-fx-background-color: -ex-background-text;
	-fx-padding: 0.3em 0.3em 1em 0.3em;
}

#tool-product-page-title {
	-fx-font-size: 2em;
}

#tool-product-page-header-buttons {
	-fx-spacing: 0.3em;
}

#tool-product-artifact {
	-fx-background-color: -ex-background-text;
	-fx-padding: 0.3em;
}

#tool-product-artifact-name {
	-fx-font-weight: bold;
}

#tool-product-market {
	-fx-background-color: -ex-background-text;
	-fx-padding: 0.3em;
}

#tool-product-market-name {
	-fx-font-weight: bold;
}

#tool-product-page-footer {
	-fx-background-insets: 0.3em 0 0 0;
	-fx-background-color: -ex-background-text;
	-fx-padding: 1em 0.3em 0.3em 0.3em;
}

.tool-product-list {
	-fx-spacing: 0.3em;
}

.tool-product-message {
	-fx-background-color: -ex-background-text;
	-fx-padding: 2em;
	-fx-alignment: center;
	-fx-font-size: 2em;
}

/*******************************************************************************
 * Settings Tool
 ******************************************************************************/
#tool-settings {
	-fx-background-color: transparent;
}

.asset-type-settings-default-tool {
	-fx-font-weight: bold;
}

.asset-type-settings-normal-tool {}

/*******************************************************************************
 * Welcome Tool
 ******************************************************************************/
#tool-welcome {
	-fx-background-color: transparent;
}

#tool-welcome .tool-welcome-title {
	-fx-font-size: 5em;
}

#tool-welcome .buttons {
	-fx-padding: 3em;
	-fx-hgap: 3em;
	-fx-vgap: 3em;
}

#tool-welcome .button .title {
	-fx-font-size: 2.5em;
}

#tool-welcome .button .description {
	-fx-font-size: 1em;
}

/*******************************************************************************
 * Tool Pane
 ******************************************************************************/
.tool-pane {
	-fx-background-color: transparent;
}

.tool-pane-header-area {
	-fx-background-color: -ex-background-tabs;
	-fx-spacing: 0.2em;
}

.tool-pane-header-area .box {
	-fx-spacing: 0;
}

.tool-pane-content-area {
	-fx-background-color: transparent;
}

/*******************************************************************************
 * Tool Tab
 ******************************************************************************/
.tool-pane .tool-tab {
	-fx-padding: 0.2em 0.2em 0.2em 0.2em;
	-fx-background-color: -ex-background-text;
}

.tool-pane .tool-tab:hover {
	-fx-background-color: -ex-background-tags;
}

.tool-pane .tool-tab .tool-tab-icon {
	-fx-padding: 0 0.3em 0 0;
}

.tool-pane .tool-tab .tool-tab-label {
	-fx-text-fill: -fx-text-base-color;
}

.tool-pane .tool-tab .tool-tab-context-icon {
	-fx-padding: 0 0 0 0.3em;
}

.tool-pane .tool-tab .tool-tab-close {
	-fx-background-color: transparent;
	-fx-padding: 0 0 0 0.3em;
}

.tool-pane .tool-tab:selected {
	-fx-padding: 0.2em 0.2em 0 0.2em;
	-fx-border-width: 0 0 0.2em 0;
	-fx-border-color: -fx-faint-focus-color;
	-fx-background-color: -ex-background-note;
}

.tool-pane:active .tool-tab:selected {
	-fx-padding: 0.2em 0.2em 0 0.2em;
	-fx-border-width: 0 0 0.2em 0;
	-fx-border-color: derive(-fx-focus-color, 20%);
	-fx-background-color: -ex-background-note;
}

.tool-pane:active .tool-tab:selected:hover {
	-fx-border-color: derive(-fx-focus-color, 40%);
	-fx-background-color: -ex-background-note;
}

/*******************************************************************************
 * Work Pane
 ******************************************************************************/
.workpane .drop-hint {
	-fx-fill: -ex-workspace-drop-hint;
}
