.root {
	-ex-background-text: rgba(236, 236, 236, 0.2);
	-ex-background-tabs: rgba(236, 236, 236, 0.4);
	-ex-background-tags: rgba(236, 236, 236, 0.6);
	-ex-background-note: rgba(236, 236, 236, 0.8);

	-ex-workspace-tint-color: #c0c0c040;
	-ex-workspace-drop-hint: rgba(32, 32, 32, 0.2);

	-ex-background-error: CHART_COLOR_7_TRANS_20;
}

.debug {
	-fx-backgroud-color: #80800080;
}

.prompt {
	-fx-padding: 0 1mm 0 0;
}

.padded {
	-fx-padding: 1.5mm;
}

/*******************************************************************************
 * Modena fixes
 ******************************************************************************/
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
	-fx-background-color: -fx-mark-highlight-color, ladder(
		-fx-base,
		derive(-fx-base, 45%) 50%,
		derive(-fx-base, -45%) 50%
	);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
	-fx-background-color: -fx-mark-highlight-color, ladder(
		-fx-base,
		derive(-fx-base, 50%) 50%,
		derive(-fx-base, -50%) 50%
	);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
	-fx-background-color: -fx-mark-highlight-color, ladder(
		-fx-base,
		derive(-fx-base, 55%) 50%,
		derive(-fx-base, -55%) 50%
	);
}

.text-input {
	-fx-prompt-text-fill: ladder(
		-fx-base,
		derive(-fx-control-inner-background, 50%) 50%,
		derive(-fx-control-inner-background, -30%) 50%
	);
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
	-fx-prompt-text-fill: transparent;
}


/*******************************************************************************
 * Icons
 ******************************************************************************/
.xe-icon {
	-xe-theme-color: #c0c0c0;
	-xe-outline-width: 0.03125; /* 1/32 */
	-xe-outline-paint: ladder(
		-fx-text-background-color,
		derive(-xe-theme-color, -50%) 50%,
		derive(-xe-theme-color, 50%) 50%
	);

}

/*******************************************************************************
 * Splash Screen
 ******************************************************************************/
.splashscreen {
	/*-fx-background-color: linear-gradient(to bottom, rgb(48, 48, 48), rgb(53, 146, 196));*/
	/*-fx-background-color:  linear-gradient( to bottom, #202038, #9c809c );*/
	-fx-background-color: rgb(96, 96, 96);
}

.splashscreen .tint {
	-fx-fill: rgb(32, 32, 32);
	-fx-opacity: 0.7;
}

.splashscreen .title {
	-fx-fill: #c0c0c0;
}

.splashscreen .accent {
	-fx-fill: -fx-accent;
	-fx-opacity: 0.4;
}

.splashscreen .progress {
	-fx-arc-height: 10;
	-fx-arc-width: 5;
}

.splashscreen .progress-tray {
	-fx-fill: gray;
	-fx-opacity: 0.2;
}

.splashscreen .progress-incomplete {
	-fx-fill: -fx-accent;
	-fx-opacity: 0.4;
}

.splashscreen .progress-complete {
	-fx-fill: -fx-accent;
	-fx-opacity: 0.8;
}

/*******************************************************************************
 * Development Menu
 ******************************************************************************/
/* Not sure why the class selector does not work but the id selector does */
#menu-development {
	-fx-background-color: #ffff0030;
}

#menu-development > .label {
	-fx-text-fill: -fx-text-background-color;
}

#menu-development:hover {
	-fx-background-color: #ffff0040;
}

/*#menu-development:hover > .label {*/
/*	-fx-text-fill: -fx-text-background-color;*/
/*}*/

/*******************************************************************************
 * Workspace
 ******************************************************************************/
.workspace {
	/* Will override the user preference background */
	/*-fx-background-color: #80a0c0ff;*/
}

.workspace-tint {
	-fx-background-color: -ex-workspace-tint-color;
}

/*******************************************************************************
 * Workarea
 ******************************************************************************/
.workarea-menu-bar {
	-fx-background-color: transparent;
	-fx-padding: 0;
	-fx-border: none;
}

/*******************************************************************************
 * Workpane Scroll Pane
 ******************************************************************************/
.workpane .scroll-pane {
	-fx-background-color: transparent;
}

.workpane .scroll-pane .viewport {
	-fx-background-color: transparent;
}

.workpane .scroll-pane .content {
	-fx-background-color: transparent;
}

/*******************************************************************************
 * Workpane Table View
 ******************************************************************************/
.workpane .table-view {
	-fx-background-color: transparent;
}

.workpane .table-row-cell {
	/* This sets the variable -fx-background */
	-fx-background: -ex-background-text;
	-fx-background-color: -fx-background;
	-fx-padding: 0;
	-fx-text-fill: -fx-text-background-color;
}
.workpane .table-row-cell:odd {
	-fx-background: -ex-background-tags;
}

.workpane .table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected {
	-fx-background: -fx-selection-bar;
	-fx-table-cell-border-color: derive(-fx-selection-bar, 20%);
}

.workpane .table-row-cell:filled:selected {
	-fx-background: -fx-selection-bar-non-focused;
	-fx-table-cell-border-color: derive(-fx-selection-bar-non-focused, 20%);
}
/*******************************************************************************
 * Workpane
 ******************************************************************************/
.workpane {
	-fx-background-color: transparent;
}

.workpane-view {
	-fx-background-color: transparent;
}

.workpane-edge {
	-fx-focus-traversable: false;
	-fx-background-color: -ex-background-tabs
}

.workpane-edge:horizontal {
	-fx-cursor: v-resize;
}

.workpane-edge:vertical {
	-fx-cursor: h-resize;
}

.workpane .tab-pane .tab-header-background {
	-fx-background-color: -ex-background-tabs
}

/*******************************************************************************
 * Tool
 ******************************************************************************/
.tool {
	-fx-background-color: -ex-background-text
}

.tool .tree-view {
	/*-fx-background-color: -ex-background-text;*/
	-fx-background-color: transparent;
}

.tool .tree-cell {
	-fx-indent: 1em;
	-fx-background-color: transparent;
}

.tool .tree-view:focused .tree-cell:filled:selected {
	-fx-background: -fx-selection-bar;
	-fx-table-cell-border-color: derive(-fx-selection-bar, 20%);
}

.tool .tree-cell:filled:selected {
	-fx-background-color: -fx-background, -fx-cell-focus-inner-border, -fx-background;
}

.tool .tree-view:focused .tree-cell:focused {
	-fx-background-color: -fx-background, -fx-cell-focus-inner-border, -fx-background;
}

/*
.tool .text-area {
	-fx-background-color: -ex-background-text;
	-fx-background-radius: 0 0 0 0;
}

.tool .text-field {
	-fx-background-color: -ex-background-text;
	-fx-background-radius: 0 0 0 0;
}
*/

.accent {
	-fx-fill: -fx-background;
	-fx-opacity: 0.3;
}

/*******************************************************************************
 * Status Bar
 ******************************************************************************/
.status-bar {
	-fx-padding: 1mm 1mm 1mm 1mm;
}

.status-bar > .box {
	-fx-spacing: 1mm;
}

/*******************************************************************************
 * Notice
 ******************************************************************************/
.notice {
	-fx-background-color: -ex-background-text;
	-fx-background-insets: 1.5mm;
	-fx-padding: 3mm;
}

.notice-flyout {
	-fx-background-color: -ex-background-note;
	-fx-pref-width: 6cm;
	-fx-background-radius: 1.5mm 0 0 1.5mm;
	-fx-background-insets: 1.5mm 0 1.5mm 1.5mm;
	-fx-padding: 3mm;
}

.notice-title {
	-fx-font-weight: bold;
}

.notice-message {
	-fx-font-weight: normal;
}

/*******************************************************************************
 * Memory Monitor
 ******************************************************************************/
.memory-monitor {
	-fx-background-color: ladder(
		-fx-color,
		derive(-fx-color, 10%) 50%,
		derive(-fx-color, -10%) 50%
	);
}

.memory-monitor-allocated {
	-fx-fill: ladder(
		-fx-color,
		derive(-fx-color, 40%) 50%,
		derive(-fx-color, -20%) 50%
	);
}

.memory-monitor-used {
	-fx-fill: -fx-accent;
	/*-fx-fill: ladder(*/
	/*	-fx-color,*/
	/*	derive(-fx-color, 50%) 50%,*/
	/*	derive(-fx-color, -30%) 50%*/
	/*);*/
}

.memory-monitor-label {
	-fx-padding: 0.5mm 1mm 0.5mm 1mm;
}

/*******************************************************************************
 * Task Monitor
 ******************************************************************************/
.task-monitor {
	-fx-background-color: ladder(
		-fx-color,
		derive(-fx-color, 15%) 50%,
		derive(-fx-color, -15%) 50%
	);
}

.task-monitor-threads {
	-fx-fill: ladder(
		-fx-color,
		derive(-fx-color, 40%) 50%,
		derive(-fx-color, -20%) 50%
	);
}

.task-monitor-tasks {
	-fx-fill: -fx-accent;
}

.task-monitor-progress {
	-fx-fill: ladder(
		-fx-accent,
		derive(-fx-accent, 30%) 50%,
		derive(-fx-accent, 30%) 50%
	);
}

.task-monitor-label {
	-fx-padding: 0.5mm 1mm 0.5mm 1mm;
}

/*******************************************************************************
 * About Tool
 ******************************************************************************/
#tool-about .text-area {
	-fx-background-color: transparent;
}

#tool-about .label {
	-fx-padding: -0.25em;
}

#tool-about .tool-about-title {
	-fx-font-size: 5em;
}

#tool-about .tool-about-header {
	-fx-font-size: 2em;
}

#tool-about .tool-about-name {
	-fx-font-size: 1em;
}

#tool-about .tool-about-provider {
	-fx-font-size: 1em;
}

#tool-about .tool-about-version {
	-fx-font-size: 1em;
}

#tool-about-details {
	-fx-font: 1em monospaced;
}

#tool-about-mods {
	-fx-font: 1em monospaced;
}

/*******************************************************************************
 * New Asset Tool
 ******************************************************************************/
#tool-asset-new .asset-type-tile {
	-fx-min-width: 250px;
	-fx-min-height: 200px;
	-fx-max-width: 250px;
	-fx-max-height: 200px;
	-fx-background-color: -ex-background-text;
	-fx-background-insets: 10px;

	-fx-border-color: -ex-background-tabs;
	-fx-border-style: solid;
	-fx-border-insets: 5px;
	-fx-border-width: 5px;
}

#tool-asset #user-notice {
	-fx-background-color: -ex-background-error;
}

/*******************************************************************************
 * Fault Tool
 ******************************************************************************/
#tool-fault .text-area {
	-fx-background-color: transparent;
}

#tool-fault-text {
	-fx-font: 1em monospaced;
}

/*******************************************************************************
 * Product Tool
 ******************************************************************************/
#tool-product-page-header {
	-fx-background-insets: 0 0 1mm 0;
	-fx-background-color: -ex-background-text;
	-fx-padding: 1mm 1mm 2mm 1mm;
}

#tool-product-page-title {
	-fx-font-size: 2em;
}

#tool-product-page-header-buttons {
	-fx-spacing: 1mm;
}

#tool-product-artifact {
	-fx-background-color: -ex-background-text;
	-fx-padding: 1mm;
}

#tool-product-artifact-name {
	-fx-font-weight: bold;
}

#tool-product-market {
	-fx-background-color: -ex-background-text;
	-fx-padding: 1mm;
}

#tool-product-market-name {
	-fx-font-weight: bold;
}

#tool-product-page-footer {
	-fx-background-insets: 1mm 0 0 0;
	-fx-background-color: -ex-background-text;
	-fx-padding: 2mm 1mm 1mm 1mm;
}

.tool-product-message {
	-fx-background-color: -ex-background-text;
	-fx-padding: 5mm;
	-fx-alignment: center;
	-fx-font-size: 2em;
}

/*******************************************************************************
 * Welcome Tool
 ******************************************************************************/
#tool-welcome {
	-fx-background-color: transparent;
}

#tool-welcome .tool-welcome-title {
	-fx-font-size: 5em;
}

/*******************************************************************************
 * Titled Pane
 ******************************************************************************/
.titled-pane > *.content {
	-fx-background-color: red;
}

/*******************************************************************************
 * Tool Pane
 ******************************************************************************/
.tool-pane {
	-fx-background-color: transparent;
}

.tool-pane-header-area {
	-fx-background-color: -ex-background-tabs;
	-fx-spacing: 0.5mm;
}

.tool-pane-header-area .box {
	-fx-spacing: 0;
}

.tool-pane-content-area {
	-fx-background-color: transparent;
}

/*******************************************************************************
 * Tool Tab
 ******************************************************************************/
.tool-pane .tool-tab {
	-fx-padding: 0.5mm 0.5mm 0.5mm 0.5mm;
	-fx-background-color: -ex-background-text;
}

.tool-pane .tool-tab .tool-tab-label {
	-fx-text-fill: -fx-text-base-color;
}

.tool-pane .tool-tab:hover {
	-fx-background-color: -ex-background-tags;
}

.tool-pane .tool-tab-close {
	-fx-background-color: transparent;
	-fx-padding: 0 0 0 1mm;
}

.tool-pane:active .tool-tab:selected {
	-fx-padding: 0.5mm 0.5mm 0 0.5mm;
	-fx-border-width: 0 0 0.5mm 0;
	-fx-border-color: derive(-fx-focus-color, 20%);
	-fx-background-color: -ex-background-note;
}

.tool-pane:active .tool-tab:selected:hover {
	-fx-border-color: derive(-fx-focus-color, 40%);
	-fx-background-color: -ex-background-note;
}

/*******************************************************************************
 * Work Pane
 ******************************************************************************/
.workpane .drop-hint {
	-fx-fill: -ex-workspace-drop-hint;
}
