.root {
	-fx-accent: #5C6BC0;
	-fx-focus-color: #EF6C00;
	-fx-faint-focus-color: #EF6C0022;

	-ex-background-text: rgba(236, 236, 236, 0.2);
	-ex-background-tabs: rgba(236, 236, 236, 0.4);
	-ex-background-tags: rgba(236, 236, 236, 0.6);
	-ex-background-note: rgba(236, 236, 236, 0.8);

	-ex-work-pane-drop-hint: rgba(32, 32, 32, 0.2);
}

/*******************************************************************************
 * Memory Monitor
 ******************************************************************************/
.memory-monitor {
	-fx-background-color: derive( -fx-color, -10% );
}

.memory-monitor-allocated {
	-fx-fill: derive( -fx-color, -20%);
}

.memory-monitor-used {
	-fx-fill: derive( -fx-accent, 50%);
}

/*******************************************************************************
 * Task Monitor
 ******************************************************************************/
.task-monitor {
	-fx-background-color: derive( -fx-color, -10% );
}

.task-monitor-threads {
	-fx-fill: derive( -fx-color, -20%);
}

.task-monitor-tasks {
	-fx-fill: derive( -fx-accent, 50%);
}

.task-monitor-progress {
	-fx-fill: derive( -fx-accent, 10%);
}
